body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

a {
	color: orange;
}

a:visited {
	color: crimson;
}

img {
	max-width: 300px;
}

input[type=text] {
	display: block;
}

button {
	border-radius: 10px;
	background-color: yellow;
	padding: 10px 20px
}